[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

slow_query_log=ON
log_output=FILE
long_query_time=0
log_slow_admin_statements=ON
log_slow_slave_statements=ON
slow_query_log_file=/log/slow.log

performance_schema=ON
performance-schema-instrument='statement/%=ON'
performance-schema-consumer-statements-digest=ON
innodb_monitor_enable=all


